body {
    background: black;
    color: white;
    font-family: Futura, sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: row;
    gap: 20px;

}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #222;
    padding: 20px;
    border-radius: 8px;
}

#myTable {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
}